    ul,ol {
        list-style: none;
    }

    ul:hover {
        color: #fff;
    }

    .nav li a {
        border: #434343 1px solid;
        width: 170px;
        color: black;
        background-color: #FA9983;
        text-decoration: none;
        padding: 10px 20px;
        display: block;
    }

    .nav li a:hover {
        color: #fff;
        background-color: #434343;
    }

    .nav>li {
        float: left;
    }

    .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }

    .nav li:hover>ul {
        display: block;
    }